
name: Karshak Android Build (Qt6)
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'linux'
          target: 'android'
          arch: 'android_arm64_v8a'
          dir: '${{ github.workspace }}/qt/'
          install-deps: 'true'
          modules: 'qtcharts'
          
      - name: Setup Android NDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 11076708

      - name: Create Build Directory
        run: mkdir build

      - name: Configure (CMake)
        # This is the new command for QGC Master/Qt6
        run: |
          export PATH=$PATH:${{ github.workspace }}/qt/Qt_6.6.0/gcc_64/bin
          ${{ github.workspace }}/qt/Qt_6.6.0/gcc_64/bin/qt-cmake -B build -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DANDROID_SDK_ROOT=$ANDROID_SDK_ROOT -DANDROID_NDK_ROOT=$ANDROID_NDK_ROOT -DQT_ANDROID_APPLICATION_ARGUMENTS="--no-sentry" 

      - name: Build APK
        run: cmake --build build --target android-app

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Karshak-Pilot-APK
          path: build/*.apk
